@import '../../global.scss';

footer {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .fMenuTitle {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;

    @include mobile {
      padding: 20px;
      width: 90%;
    }

    .fMenuList {
      padding: 0;
      list-style: none;

      .fListItem {
        margin-bottom: 10px;
        color: gray;
        cursor: pointer;
      }
    }
  }

  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
    }

    .footerRightMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      .fInput {
        padding: 5px;
      }
  
      .fButton {
        padding: 5px;
        background-color: black;
        color: white;
      }
  
      .fIcons {
        display: flex;
        
        .fIcon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
      
  
      .copyright {
        font-weight: 700;
        font-size: 14px;
        margin-top: 1rem;
      }
    }

  }
}
